html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// GLOBAL STYLES VARIABLES
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");
@font-face {
  font-family: Daydream;
  src: url("assets/fonts/Daydream.ttf") format("truetype");
}

:root {
  --blue-darkest: #153d45;
  --blue-darker: #2b7b8a;
  --blue: #8fd0dc;
  --blue-lighter: #c7e7ed;
  --blue-lightest: #e3f3f6;

  --purple-darkest: #171427;
  --purple-darker: #2e294f;
  --purple: #5d539f;
  --purple-lighter: #aca6d1;
  --purple-lightest: #d5d2e8;

  --lilac-darkest: #1a0052;
  --lilac-darker: #3400a5;
  --lilac: #854cff;
  --lilac-lighter: #c2a5ff;
  --lilac-lightest: #e0d2fe;

  --garnet-darkest: #140b12;
  --garnet-darker: #281625;
  --garnet: #502d4b;
  --garnet-lighter: #b983b2;
  --garnet-lightest: #dcc1d8;

  --grey-darkest: #090909;
  --grey-darker: #131313;
  --grey: #262626;
  --grey-lighter: #929292;
  --grey-lightest: #c8c8c8;

  --black: #000000;
  --black-lighter: #010101;
  --black-lightest: #808080;

  --facebook: #0973f7;

  // Font Oxygen
  --font-oxygen: "Oxygen", sans-serif;
  --font-daydream: "Daydream", sans-serif;

  // SOCIAL ICONS
  --social-size: 30px;
}

* {
  background-color: var(--blue-lightest);
}
